.nav {
	display: flex;
	flex-direction: row;
	justife-content: space-between;
	margin: 10px;
	padding: 10px;
}
.nav li {
	list-style-type: none;
	color: gray;
	text-decoration: none;
	display: inline;
    	color: #fff;
    	padding: 15px 10px;
	text-transform: uppercase;
}
.nav li a {
	text-decoration: none;
	color: grey;
}
.nav li a:hover {
	color: #424240;
.border {
	background-color: #333;
    color: white;
    margin: 5px;
}
.border:hover {
	background-color: #0d0d0c;
	color: white;
}	
.block {
	margin: 100px;
}
.container {
	display: flex;
}
.process {
    width: 370px;
    box-sizing: border-box;
    padding: 5px 10px;
}
.price {
    width: 370px;
    box-sizing: border-box;
    padding: 5px 10px;
}
.people {
    width: 370px;
    box-sizing: border-box;
    padding: 5px 10px;
}
